.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 40px;					
    height: 20px;					
    padding: 2px;				
    font: 12px sans-serif;
    font-weight: bold;		
    background: rgba(240,255,255,.5);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}


/************************ CSS for map *************************/
#map .background {
  fill: none;
  pointer-events: all;
}

#map .states {
  fill: grey;
  stroke: white;
}

#map .states .active {
  fill: orange;
}


/************************ CSS for radar *************************/
#radar {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  cursor: default;
}

#radar .legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

#radar .tooltip {
  fill: #333333;
}


/************************ CSS for stack *************************/
#stack-global, #stack-counterpart, #stack-invest {
  font: 10px sans-serif;
}

#stack-global .axis path, #stack-counterpart .axis path, #stack-invest .axis path,
#stack-global .axis line, #stack-counterpart .axis line, #stack-invest .axis line,
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
